{% load crispy_forms_tags %} 
<div class="modal-header">
    <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form action="/login/" method="post" id="user_form">
        {% csrf_token %}
        {{form_user|crispy}}
        <p class="invalid text-danger"></p>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Iniciar sesion</button>
        </div> 
    </form>
  </div>
</div>

<script>
  $(iniciar_html());

  function iniciar_html(){
    //$('#id_username').focus();
  }
  $('#user_form').submit(function(e){
    e.preventDefault();
    let datos = $('#user_form').serialize();
    let urls = $('#user_form').attr('action');
    console.log(datos);
    $.ajax({
      type: 'post',
      url: urls,
      data: datos,
      success:function(resp){
        if(resp.error){
          $('.invalid').text(resp.error);
        }
        else{
          window.location.href = '/';
        }
      }
    });
  });
</script>

