{% load crispy_forms_tags %}
<h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseEit" aria-expanded="false" aria-controls="collapseEit">
        <strong>Registrar terminos y condiciones para las ventas (Opcional)</strong>
    </button>
</h2>
<div id="collapseEit" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
    <div class="accordion-body row d-flex justify-content-center">
        <div class="forn-envio col-lg-5 align-items-stretch">
            <div class="input-group">
                <form action="/{{company.id}}/add_condiciones" method="post" id="add_regla_forms">
                    {% csrf_token %}
                    {{form_regla|crispy}}
                    <button type="submit" class="btn btn-primary btn-sm"
                            id="button-addon2">Registrar</button>
                </form>
            </div>
        </div>
        <div class="info_rule col-lg-5 d-flex align-items-stretch" id="delete_regla">
            {% for regla in reglas %}
            <li>
                Terminos y condiciones para su venta : <br> <strong>{{regla.regla}}.</strong> <a href="#"
                    type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    onclick="del_regla('/{{regla.id}}/delete_regla')">Eliminar</a>
            </li>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    $('#add_regla_forms').on('submit', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (resp) {
                if (resp.error) {
                    $('.toast-body').addClass('alert alert-danger');
                    $('.toast-body').fadeIn(1000).html(resp.error);
                    mostrar_notificacion();
                } else {
                    $(".precios_env").html("");
                    $('.toast-body').addClass('alert alert-success');
                    $('.toast-body').fadeIn(1000).html(resp.success);
                    mostrar_notificacion();
                    $('#add_regla_forms')[0].reset();
                    $.ajax({
                        type: 'get',
                        url: '/{{company.id}}/get_condiciones',
                        success: function (resp) {
                            $('.info_rule').html(resp);
                        }

                    });
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('.toast-body').addClass('alert alert-danger');
                $('.toast-body').fadeIn(1000).html("Ya existe las condiciones");
                mostrar_notificacion();
            }
        });
    });

    function del_regla(urls) {
        $.ajax({
            type: 'get',
            url: urls,
            success: function (resp) {
                if (resp.error) {
                    $(".invalid_ct").html(resp.error);
                } else {

                    $(".modal-content").html(resp);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Error:" + thrownError);
            }
        });
        return false;
    }
</script>