{% load crispy_forms_tags %}
<h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        <strong>Agregar Mapa del Negocio</strong>
    </button>
</h2>
<div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
    <div class="accordion-body row d-flex justify-content-center">
        {% if not address %}
        <div class="forn-envio col-lg-5 d-flex align-items-stretch">
            <div class="input-group">
                <form action="/{{company.id}}/add_huvicacion/" method="post" id="form_add_mapa">
                    {% csrf_token %}
                    {{form_huvicacion|crispy}}
                    <button type="submit" class="btn btn-primary btn-sm">Registrar</button>
                </form>
            </div>
        </div>
        <div class="col-lg-5 align-items-stretch">
            <div class="info" id="map" style="margin-top: 20px; width: 100%; height: 440px;">

            </div>
        </div>
        {% else %}
        <div class="alert alert-success info_map_registro" role="alert">
            <p>
                <strong>Direccion registrada:{{address.address}} <br> Fecha y hora registro: {{address.date_joined}}</strong>
                <strong><a style="color: red;" href="#" type="button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    onclick="del_address_comp('/{{address.id}}/del_address_comp')"> Eliminar </a></strong>
            </p>
        </div>
        {% endif %}
        
    </div>
</div>
<script>
    class Localizacion{
        constructor(callback){
            if(navigator.geolocation){
                navigator.geolocation.getCurrentPosition((position) => {
                    this.latitude = position.coords.latitude;
                    this.longitude = position.coords.longitude;
                    callback();
                });
            }else{
                alert("Tu navegador no soporta geolocalizacion")
            }
        }
    }

    function initMap() {
        const ubicacion = new Localizacion(()=>{
            const mylatLng = {lat: ubicacion.latitude,lng: ubicacion.longitude}

            $("#id_latitud").val(ubicacion.latitude);
            $("#id_longitud").val(ubicacion.longitude);
            const options = {
                center: mylatLng,
                zoom: 15
            }
            var map = document.getElementById('map');
            const mapa = new google.maps.Map(map, options);
            
            const marker = new google.maps.Marker({
            //const marker = new google.maps.marker.AdvancedMarkerElement({
                map: mapa,
                position:mylatLng,
                title:'Mi ubicación',
                draggable: true,
            });
            google.maps.event.addListener(marker, 'position_changed',function(){
                getMarkerCoords(marker);
            });
            function getMarkerCoords(marker){
                var markerCoords = marker.getPosition();
                $('#id_latitud').val(markerCoords.lat);
                $('#id_longitud').val(markerCoords.lng);
            }

        });
    }
    $('#form_add_mapa').on('submit', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (resp) {
                if (resp.success) {
                    $('.toast-body').addClass('alert alert-success');
                    $('.toast-body').fadeIn(1000).html(resp.success);
                    mostrar_notificacion();
                    $('#form_add_mapa')[0].reset();
                    $.ajax({
                        type: 'get',
                        url: '/{{company.id}}/info_address_company',
                        success: function (resp) {
                            $('.info_map_registro').fadeIn(1000).html(resp.address);
                        }
                    });

                } else {
                    $('.toast-body').addClass('alert alert-danger');
                    $('.toast-body').fadeIn(1000).html('Ya existe un registro');
                    mostrar_notificacion();
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('.toast-body').addClass('alert alert-danger');
                $('.toast-body').fadeIn(1000).html('Ya existe un registro');
                mostrar_notificacion('Ya existe un registro');
            }
        });
    });

    function del_address_comp(urls) {
        $.ajax({
            type: 'GET',
            url: urls,
            success: function (resp) {
                if (resp.error) {
                    $(".invalid_ct").html(resp.error);
                } else {

                    $(".modal-content").html(resp);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('.toast-body').addClass('alert alert-danger');
                $('.toast-body').fadeIn(1000).html(thrownError);
                mostrar_notificacion();
            }
        });
        return false;
    }
</script>