{% load crispy_forms_tags %}
<h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        <strong>Avisos de Catalogo (Opcional)</strong>
    </button>
</h2>
<div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
    <div class="accordion-body row d-flex justify-content-center">
        <div class="forn-envio col-lg-5 align-items-stretch">
            <div class="input-group">
                <form action="/{{company.id}}/add_avisos" method="post" id="add_avisos_forms">
                    {% csrf_token %}
                    {{form_avisos|crispy}}
                    <button type="submit" class="btn btn-primary btn-sm">Registrar</button>
                </form>
            </div>
        </div>
        <div class="info_avisos col-lg-5 align-items-stretch">
            {% for a in avisos %}
            <li><strong>Tiempo de Entregas: </strong> {{a.Tiempo_entrega}}</li>
            <li><strong>Envios : </strong> {{a.envios}}</li>
            <li><strong>Pedidos : </strong> {{a.pedidos}}</li>
            <li><strong>Contra Entrega: </strong> {{a.pide_ahora}}</li>
            <p style="text-align: center;"><a href="#" type="button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    onclick="elimnarOpciones('/{{a.id}}/eliminar_opciones')"> Eliminar </a></p>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    function elimnarOpciones(urls) {
        $.ajax({
            type: 'GET',
            url: urls,
            success: function (resp) {
                if (resp.error) {
                    $(".invalid_ct").html(resp.error);
                } else {

                    $(".modal-content").html(resp);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('.toast-body').addClass('alert alert-danger');
                $('.toast-body').fadeIn(1000).html(thrownError);
                mostrar_notificacion();
            }
        });
        return false;
    }

    $('#add_avisos_forms').on('submit', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (resp) {
                if (resp) {
                    $('.toast-body').addClass('alert alert-success');
                    $('.toast-body').fadeIn(1000).html(resp.success);
                    mostrar_notificacion();
                    $('#add_avisos_forms')[0].reset();
                    $.ajax({
                        type: 'get',
                        url: '/{{company.id}}/get_opciones',
                        success: function (resp) {
                            $('.info_avisos').html(resp);
                        }

                    });
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('.toast-body').addClass('alert alert-danger');
                $('.toast-body').fadeIn(1000).html("Ya tiene avisos registros");
                mostrar_notificacion();
            }
        });
    });
</script>