


<div id="carouselExampleSlidesOnly" class="carousel slide fixed-bottom" style="margin: auto; z-index: 2;" data-bs-ride="carousel">
    <div class="carousel-inner container">
      <div class="carousel-item active justify-content-between">
        <p class="text-primary fst-italic fw-bolder" style="text-align: center;">Tiempo de Entrega: {{aviso.Tiempo_entrega|title}}</p>
      </div>
      <div class="carousel-item justify-content-between">
        <p class="text-success fst-italic fw-bolder" style="text-align: center;">Envios: {{aviso.envios|title}}</p>
      </div>
      <div class="carousel-item justify-content-between">
        <p class="text-primary fst-italic fw-bolder" style="text-align: center;">Pedidos: {{aviso.pedidos|title}}</p>
      </div>
      <div class="carousel-item justify-content-between">
        <p class="text-success fst-italic fw-bolder" style="text-align: center;">{{aviso.pide_ahora|title}}</p>
      </div>
    </div>
  </div>

