<ul>
    {% if company.id %}
      <li><a class="nav-link scrollto active" href="/">Productos</a></li>
      <li class="dropdown"><a href="#"><span>Categorias</span> <i class="bi bi-chevron-down"></i></a>
        <ul>
          {% for c in categorias %}
            <li style="cursor: pointer;" class="nav-link scrollto"><a onclick="mostrar_por_categoria('/mostrar_por_categoria/{{c.id}}/')" href="#team_productos">{{c.name|title}}</a></li>
          {% empty %}
            <li class="bi-x"><a href="">No hay Categorias</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
      <li><a class="nav-link scrollto" href="#afiliados">Afiliados</a></li>
      <li><a class="nav-link scrollto" href="#bot_amceb">Suscribirme</a></li>
      <li><a class="nav-link scrollto" href="#contact">Contáctanos</a></li>
      {% if not user.is_authenticated %}
      <li><a class="nav-link scrollto" href="#login" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="login('/login_user/')">Ingresar</a></li>
      {% else %}
      <li class="dropdown"><a href="#"><span>Mi Perfil</span> <i class="bi bi-chevron-down"></i></a>
        <ul>
          {% if user.first_name %}
            <li><a class="nav-link scrollto" href="#" >User: {{request.user.username|title}} </a></li>
          {% endif %}
          <li><a class="nav-link scrollto" href="#team_productos" onclick="updateUser('/{{request.user.id}}/update_perfil_user/')">Mi Perfil</a></li>
          {% if company.id and user.is_superuser %}
            <li><a class="nav-link scrollto" href="/configuraciones/">Administrador</a></li>
            <li><a class="nav-link scrollto" href="#team_productos" onclick="newProducto('/new_producto/')">Registrar Producto</a></li>
            <li><a class="nav-link scrollto" href="#team_productos" onclick="newProducto('/informacion_empresa/')">Informacion Empresa</a></li>
            <li><a class="nav-link scrollto" href="#team_productos" onclick="newProducto('/informacion_web/')">Informacion Web</a></li>
          {% else %}
            <li><a class="nav-link scrollto" href="/configuraciones/">Afiliado</a></li> 
            <li><a class="dropdown-item" href="#" onclick="event.preventDefault(); copiarEnlace('{{ request.scheme }}://{{ request.get_host }}/?ref={{user.id}}');">
                Copiar mi enlace referido</a></li> 
          {% endif %}
          <li><a class="nav-link scrollto" href="/salir/">Cerrar Sesion</a></li>
        </ul>
      </li>
      {% endif %}
  </ul>
  <script>
    function newTienda(urls){
      $.ajax({
          type:'GET',
          url:urls,
          success:function(resp){
              $(".modal-content").html(resp);
              $(".navbar-mobile i").click();
          }
      });
    }

  let lightbox = null;
  function mostrar_por_categoria(urls) {
    $.ajax({
      type: 'GET',
      url: urls,
      headers: { 'X-Requested-With': 'XMLHttpRequest' },
      success: function (resp) {
        // Inyectar HTML y esperar que termine para reinicializar GLightbox
        $(".productos_por_categorias").fadeOut(200, function () {
          $(this).html(resp).fadeIn(400, function () {

            // Destruir instancia anterior si existe
            if (lightbox && typeof lightbox.destroy === 'function') {
              lightbox.destroy();
            }

            // Inicializar nuevamente el lightbox
            lightbox = GLightbox({
              selector: '.portfolio-lightbox'
            });

          });
        });

        // Cierra menú móvil si estaba abierto
        $(".navbar-mobile i").click();
      }
    });
  }
  </script>