{% load extras %}
{% load static %}
<section id="faq" class="faq section-bg">
  <div class="container-fluid row" style="margin-left: 5px;">

    <div class="section-title" data-aos="fade-up">
      <h2>Preguntas frecuentes</h2>
    </div>

    <div class="faq-list col-lg-6 mb-5 mb-lg-0">
      <ul>
        {% for regla in reglas %}
        <li data-aos="fade-up">
          <i class="bx bx-help-circle icon-help"></i>
          <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-{{ forloop.counter }}">
            {{ regla.pregunta }}
            <i class="bx bx-chevron-down icon-show"></i>
            <i class="bx bx-chevron-up icon-close"></i>
          </a>
          <div id="faq-list-{{ forloop.counter }}" class="collapse" data-bs-parent=".faq-list">
            <p>
              {{ regla.regla|urlize_mode:"ver_mas,br"|default:" " }}
            </p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-lg-6" data-aos="fade-left">
      <div class="tab-content">
        <div class="tab-pane active show" id="tab-1">
          <figure>
            <img src="{% static 'assets/img/features-2.png' %}" alt="" class="img-fluid">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>