{% load static %}
<section id="faq" class="faq section-bg">
    <div class="container-fluid row" style="margin-left: 5px;">

      <div class="section-title" data-aos="fade-up">
        <h2>Preguntas frecuentes</h2>
      </div>

      <div class="faq-list col-lg-6 mb-5 mb-lg-0">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> 
            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1" >Como puedo realizar un pedido? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse" data-bs-parent=".faq-list">
              <p>
                ¡Realizar un pedido es muy fácil! Solo sigue estos pasos: <br>
                * Explora nuestro catálogo y elige los productos que te gusten.<br>
                * Haz clic en el botón "Agregar al carrito".<br>
                * Una vez que tengas todo lo que necesitas, ve a tu carrito y haz clic en "Finalizar pedido".<br>
                * Llena tus datos de contacto y escanee el codigo QR si corresponde y confirmar. <br>
                * ¡Listo! Te enviaremos un mensaje confirmando tu pedido. 📦 <br>
                Si tienes alguna duda, puedes escribirnos por WhatsApp y con gusto te ayudamos 😊
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="50">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Cuáles son las opciones de envió disponibles? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                * 🚗 Envío a domicilio: Recibe tu pedido directamente en la puerta de tu casa dentro de la misma ciudad.<br>
                * Envío a otra ciudad: Enviamos tu pedido a otras ciudades del país mediante servicios de transporte o mensajería.<br>
                * Recojo en tienda: También puedes pasar personalmente a recoger tu pedido en la tienda, sin costo adicional.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="50">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Cómo puedo aplicar un cupón? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
                🎁 Si eres un cliente nuevo en la tienda y te has suscrito a nuestra página, ¡felicidades! Recibirás un cupón exclusivo de bienvenida en tu correo. <br>
               * ✅ El descuento se aplicará automáticamente a tu total. <br>
               * 📌 Recuerda: Los cupones son válidos solo para nuevos clientes suscritos y pueden tener una duración limitada.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="50">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Cuál es su política de devoluciones? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Nuestra plataforma busca garantizar una buena experiencia tanto para el cliente como para el propietario de la tienda. Por eso, nuestra política es la siguiente: <br>
                * 🕒 Si el pedido no se recoge en un plazo de 48 horas, este quedará archivado automáticamente y podrá ser anulado por el vendedor. <br>
                * 📦 Si el propietario de la tienda no realiza la entrega, puedes comunicarte directamente con nuestro soporte técnico al número 79436914. Atenderemos tu reclamo con prioridad para ayudarte a resolver el problema lo más pronto posible. <br>
                ✅ Tu confianza es importante para nosotros. Estamos aquí para ayudarte en cada paso de tu compra.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="50">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Porque registro mis datos? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Nos tomamos muy en serio la privacidad y seguridad de tus datos. Solo recopilamos la información necesaria para brindarte un mejor servicio y nunca la compartimos con terceros sin tu consentimiento.
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="50">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">Es confiable esta tienda? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Nuestra sistema si es confiable está diseñada para ofrecer una experiencia segura y confiable tanto para los clientes como para los propietarios de las tiendas. Implementamos medidas de seguridad para proteger tus datos y garantizar transacciones seguras. Además, trabajamos con propietarios de tiendas verificados para asegurar la calidad de los productos y servicios ofrecidos.
              </p>
            </div>
          </li>

        </ul>
      </div>
      <div class="col-lg-6" data-aos="fade-left">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <figure>
              <img src="{% static 'assets/img/features-2.png' %}" alt="" class="img-fluid">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>