{% extends 'index.html' %}

{% block titulo %}
    {{company.name|title|truncatechars:26}}
{% endblock titulo %}
  
{% block tecnica_seo %}
  <meta name="title" content="{{ company.get_meta_title }}">
  <meta name="description" content="{{ company.get_meta_description }}">
  <meta property="og:title" content="{{ company.get_meta_title }}">
  <meta property="og:description" content="{{ company.get_meta_description }}">
  <meta property="og:image" content="{{ company.get_meta_image }}">
  <meta property="og:url" content="https://{{ request.get_host }}{{ company.get_meta_url }}">
  <link rel="canonical" href="https://{{ request.get_host }}{{ company.get_meta_url }}">
{% endblock tecnica_seo %}

{% block company %}
    <a href="/">
      <marquee behavior="" direction="" style="margin-top: 14px;">{{ company.name|title }}</marquee>
    </a>
{% endblock company %}

{% block code_meta %}
  {% if code.codigo %}
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '{{code.codigo}}');
    fbq('track', 'PageView');
  </script>
  <noscript>
      <img height="1" width="1" style="display:none" 
      src="https://www.facebook.com/tr?id={{code.codigo}}&ev=PageView&noscript=1"/>
  </noscript>
  {% endif %}
{% endblock code_meta %}

{% block carrito %}
  {% include 'catalog/carrito.html'  with total_compra=total_compra %}
{% endblock carrito %}

{% block menus %}
    {% include 'company/menu_from_user.html' %}
{% endblock menus %}

  {% block hero %}  
  {% if company.image %}
    <style>
      #hero{
        width: 100%;
        height: calc(100vh - 50px);
        background: url("/media/{{company.image}}") center center;
        background-size: cover;
        position: relative;
        margin-top: 50px;
        padding: 0;
      }
    </style>
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
      <div class="container text-center text-md-left" data-aos="fade-up">
        <h1>{{company.name|title}}</h1><br><br>
        
        <a href="#team_productos" class="btn-get-started scrollto"> Ver Ultimas Novedades</a>
        <h2>
          <br>
          <div class="testimonials-slider swiper" data-aos="fade-left" data-aos-delay="100">
            <div class="swiper-wrapper">
              {% for c in categorias %}
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <a type="button" onclick="mostrar_por_categoria('/mostrar_por_categoria/{{c.id}}/')" 
                    href="#team_productos" class="btn btn-success btn-lg" 
                    style="background-color: #1bac91;; color: white; border-radius: 50px;">
                    <i class="bi bi-bag-check"></i> {{c.name|title}}
                    </a>
                  </p>
                </div>
              </div><!-- End testimonial item -->
              {% endfor %}
            </div><br><br>
            <div class="swiper-pagination"></div>
          </div>
        </h2>
      </div>
    </section>
  {% else %}
    <style>
      .portfolio {
        margin-top: 80px;
      }
    </style>
  {% endif %}
{% endblock hero %}


{% block form_buscador %}
    <div class="form_buscador_product" style="display: none;">
    
    </div>
{% endblock form_buscador %}

{% block acerca %} {% endblock acerca %}

{% block contenido %}
    <section id="team_productos" class="portfolio">
      
      {% if aviso %}
        {% include 'notificaciones/opciones_avisos.html' %}
      {% endif %}
      <div class="container-fluid productos_por_categorias">
          {% include 'catalog/card_productos.html' with productos=productos %}
        <hr>
          {% include 'pag_productos.html' %}
      </div> 
    </section>
{% endblock contenido %}

{% block button_whatsap %}
  {% include 'button_whatsap.html' %}
{% endblock button_whatsap %}

{% block suscipcion_for_email %}
  {% include 'form_suscripcion_email.html' %}
{% endblock suscipcion_for_email %}

{% block preg_frecuentes %}
{% include 'company/preg_frecuentes_tienda.html' %}
{% endblock preg_frecuentes %}

{% block productos_mas_vistos %}  {% endblock productos_mas_vistos %} 

{% block servicios %} {% endblock servicios %}  

{% block google_adsense %} {% endblock google_adsense %}
  
{% block contact %}
  <!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">
    {% include 'company/contact.html' with company=company %}
  </div>
</section>
<!-- End Contact Section -->
{% endblock contact %}

{% block footer_catalog %}
  {% include 'company/footer_tienda.html' %}
{% endblock footer_catalog %}
