<h1 style="margin-top: 10px;">
    <a href="#" style="font-size: 25px;" onclick="mostrar_buscador('{{company.id}}')">
        <i class="bi bi-search"></i>
    </a>
</h1>
    
<h1 style="margin-top: 10px;">
    {% if company.dominio %}
        <a href="https://api.whatsapp.com/send?text=Catálogo: {% now 'M-Y' %} %0A *{{ company.name|upper|default:' ' }}* %0A Una tienda online diseñada especialmente para nuestros clientes, donde pueden descubrir productos exclusivos y realizar sus pedidos de forma fácil, rápida y segura. %0Ahttps://amceb.online/{{ company.dominio.slug }}" 
           target="_blank" style="font-size: 25px;">
            <i class="bi bi-share-fill"></i>
    {% else %}
        <a href="https://api.whatsapp.com/send?text=Catalogo:{% now 'M-Y' %} %0A *{{company.name|upper|default:' '}}* %0A Una tienda online diseñada especialmente para nuestros clientes, donde pueden descubrir productos exclusivos y realizar sus pedidos de forma fácil, rápida y segura. %0A{{request.build_absolute_uri}}" target="_blank" style="font-size: 25px;">
        <i class="bi bi-share-fill"></i></a>
    {% endif %}
</h1>
<style>
    .cantidades-card {
  padding: 6px;
}

/* Ícono */
.cart-icon {
  font-size: 22px;
  color: #ffffff;
  transition: transform 0.2s ease, color 0.2s ease;
}

/* 🔥 Badge pequeño tipo app */
.cart-badge {
  top: 0;
  transform: translate(50%, -40%);
  
  font-size: 17px;
  min-width: 16px;
  height: 18px;
  padding: 0 4px;

  background: #2cf8cc;
  color: #0c0502;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  line-height: 1;
}
</style>
<h1 style="margin-top: 10px;">
    <a href="#"
        class="nav-link position-relative cantidades-card d-inline-flex align-items-center"
        onclick="verCarrito('/{{company.id}}/ver_carrito')"
        data-bs-toggle="modal" data-bs-target="#exampleModal"
        aria-label="Carrito">

        <i class="bi bi-cart-fill cart-icon"></i>

        <span id="cont_compras" class="cart-badge position-absolute"
            {% if total_compra == 0 %}style="display:none"{% endif %}>
            {{ total_compra }}
        </span>
        </a>
</h1>

    