{% extends "index.html" %}
{% block contenidos %}
<style>
  .cantidades{
    display: flex;
  }
  .cant input{
    width: 60px;
    text-align: center;
    font-family: cursive;
  }
  .valores{
    text-align: center;
    background-color: rgb(167, 182, 182);
    padding: 5px 10px 5px 10px;
    height: 30px;
    font-family: cursive;
  }
  .valores:hover{
    background-color: rgb(24, 24, 22);
    color: white;
    cursor: pointer;
  }
  .tamanio{
    margin: 5px 0px;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

.btn_add .btn_icon{
  display: none;
}
/*cuando la pantalla sea menor y ogual a 600px ejecuta lo que esta dentro*/
@media only screen and (max-width: 600px) {
  .btn_add .tb_text{
    display:none;
  }
  .btn_add .btn_icon{
    display: block;
  }
}
  .multiple-card-slider{
    display: none;
  }
</style>
<div class="card mb-3" style="max-width: 640px; margin: 90px auto;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/media/{{p.image}}" class="img-fluid rounded-start img-thumbnail rounded" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title fw-bolder">{{p.name|upper}}</h5>
        <p class="card-text">{{p.description|default:" sin descripcion "}}</p>
        <div class="d-flex" style="justify-content: space-between;">
          <p style="color: blue;">precio: {{p.pvp}}</p>
          <p class="text-decoration-line-through" style="color: red;">Antes: {{p.price_before}}</p>
        </div>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <div class="modal-footer" style="justify-content: space-around;">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button> -->
           
          <form action="/optenerProducto/{{p.id}}" id="form_pedido" method="post">
              {% csrf_token %}
                <div class="row">
                    <div class="col-auto">
                      <label for="inputPassword6" class="col-form-label">Cantidad:</label>
                    </div>
                    <div class="col-auto cantidades">
                      <div class="valores menos"> - </div>
                      <div class="cant">
                        <input type="text" name="cantidad" placeholder="Ingrese la Cantidad" value="1" min="1" id="inputPassword6" class="form-control form-control-sm valor_numerico" required>
                      </div>
                      <div class="valores mas"> + </div>
                    </div>
                    <div class="col-auto btn_add">
                        <button type="submit" class="btn btn-primary btn-sm tb_text"><i class="bi bi-cart-fill"></i>  Agregar al Carrito</button>
                        <button type="submit" class="btn btn-primary btn-sm btn_icon"><i class="bi bi-cart-fill"></i></button>
                      </div>
                </div>
            </form>
            <div class="alert alert-danger tamanio" role="alert" style="display: none;"></div>
            <div class="alert alert-success tamanio" role="alert" style="display: none;"></div>
          </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('#form_pedido').submit(function(e){
  e.preventDefault();
  $.ajax({
        type:'POST',
        url:$(this).attr("action"),
        data:$(this).serialize(),
        success:function(resp){
          if(resp.error){
            $(".alert-danger").html(resp.error).show();
            $(".alert-success").html(resp.success).hide();
          }
          else{
            $(".alert-success").html(resp.success).show();
            $(".alert-danger").html(resp.error).hide();
            //$("")
            $("#compras_id").html(resp.total_compra);
            console.log(resp.total_compra)
          }
          
          //$("#hay_compra").html("<a class='dropdown-item' id='hay' href='registrar_cliente_orden/{{object.id}}' data-toggle='modal' data-target='#staticBackdrop'>Confirmar Compra</a>");
        }
    });
});
$(function(){
  input = $(".valor_numerico");
  min = $(".valor_numerico").attr('min'),
  max = $(".valor_numerico").attr('max');
  $(".menos").on('click',function(){
    var oldValue = parseFloat(input.val());
    if (oldValue <= min) {
      var newVal = oldValue;
    } else {
      var newVal = oldValue - 1;
    }
    $(".valor_numerico").val(newVal);
    $(".valor_numerico").trigger("change");
  });
  //cuando se preciona el boton mas
  $(".mas").on('click',function(){
    var oldValue = parseFloat(input.val());
    if (oldValue >= max) {
      var newVal = oldValue;
    } else {
      var newVal = oldValue + 1;
    }
    $(".valor_numerico").val(newVal);
    $(".valor_numerico").trigger("change");
    });
});
</script> 
{% endblock contenidos %}