<style>
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
      -moz-appearance: textfield;
    }
</style>
<div class="modal-header  thead-light" style="background-color: #58bba9;">
    <h5 class="modal-title text-white" id="exampleModalLabel">Mi lista de pedidos</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body table-responsive">
    <table class="table table-striped table-sm">
        <thead>
          <tr class="table-info">
            <th scope="col">Img</th>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col-2">Sub total</th>
          </tr>
        </thead>
        <tbody>
          {% for i in datos %}
            <tr>
                <td>
                {% if i.imagen %}
                  <img src="{{ i.imagen }}" alt="Imagen de {{ i.name }}" style="width: 50px; height: 50px;">
                {% endif %}
                  </td>
                <td>{{i.name}}</td>
                <td>{{i.precio_uni}}</td>
                <td>
                  <div class="input-group" style="width: 100px;">
                    <button class="btn btn-sm btn-outline-primary" type="button" onclick="cambiarValor(-1, '{{forloop.counter0}}')">-</button>
                    <input type="number" id="cantidad_{{forloop.counter0}}" class="form-control form-control-sm text-center" value="{{i.cantidad}}" min="1" max="100000">
                    <button class="btn btn-sm btn-outline-primary" type="button" onclick="cambiarValor(1, '{{forloop.counter0}}')">+</button>
                </div>
                </td>
                <td>{{i.total}}
                  <button onclick="eliminarProducto('/eliminarProducto/{{forloop.counter0}}')" data-bs-toggle="tooltip" title="Eliminar" class="btn btn-danger btn-sm"><i class="bi bi-trash3"></i></button>
                </td>
            </tr>
            
          {% empty %}
            <tr>
              <td colspan="6"><div class="alert alert-warning" style="text-align: center;" role="alert">Tu carrito está vacío :(</div></td>
            </tr>
          {% endfor %}
          
          {% if datos %}
          <tr>
            <td colspan="6" style="text-align: center;"><strong data-value="{{t_pago}}" id="t_pago">Importe estimado: {{t_pago}} {{company.moneda}}.</strong></td>
          </tr>
          {% endif %}
        </tbody>
      </table>
</div>

{% if datos %}
<div class="modal-footer">
  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="bi bi-arrow-left-circle"></i> Cerrar</button>
  <a href="/confirmar_compra" type="button" class="btn btn-success btn-sm"><i class="bi bi-cart-fill"></i> Finalizar Pedido</a>
  </div>
{% endif %}
<script>

  function cambiarValor(valor, indice) {
      let input = document.getElementById("cantidad_"+indice);
      let nuevoValor = parseInt(input.value) + valor;
      if (nuevoValor >= parseInt(input.min) && nuevoValor <= parseInt(input.max)) {
          input.value = nuevoValor;
          $.ajax({
          type:'GET',
          url:'/actualizarCantidad/',
          data:{'cantidad':valor, 'indice':indice},
          success:function(resp){
            //$("#data_dable tbody #t_p").html("Importe estimado: "+resp.t_pago);
            $("#cont_compras").html(resp.cant_compras);
            const path = window.location.pathname;
            const esConfirmarCompra = /^\/confirmar_compra\/?$/.test(path);
            if(esConfirmarCompra){
              verCarrito('/ver_carrito/');
              updateProductosEnConfirmar("/show_productos_carrito/");
              updateTotalPago("/getPrecioEnvio/",$('#tipo_envio').val());
            }else{
              verCarrito('/ver_carrito/');
            }
          }
      });
      }
  }
    
  function vaciar_carito(urls){
      $.ajax({
          type:'GET',
          url:urls,
          success:function(resp){
              $("#cont_compras").show(5000).html(resp);
              $(".modal-body .table tbody").fadeIn(1000).html("<tr><td COLSPAN='5'>Seleccione Productos<td></tr>")
          }
      });
    }
  function eliminarProducto(urls){
    var id_pro = urls;
    id_pro = id_pro.split("/").join("");
    $.ajax({
          type:'GET',
          url:urls,
          success:function(resp){
            $("#cont_compras").html(resp.cant_compras);
            const path = window.location.pathname;
            const esConfirmarCompra = /^\/confirmar_compra\/?$/.test(path);
            if(esConfirmarCompra){
              verCarrito('/ver_carrito/');
              updateProductosEnConfirmar("/show_productos_carrito/");
              updateTotalPago("/getPrecioEnvio/",$('#tipo_envio').val());
            }else{
              verCarrito('/ver_carrito/');
            }
          }
      });
      return false;
  }
</script>