<div class="modal-header  thead-light" style="background-color: #58bba9;">
    <h5 class="modal-title text-white" id="exampleModalLabel">Adicionar columnas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body table-responsive">
    <form action="/{{company_id}}/{{criterio}}/productos_pdf" method="GET" id="reporte_form_datos" class="row">
        <p class="text-muted">Valores por defecto: Imagen, Nombre y stock_actual</p>
        {% csrf_token %}
        {% for campo in form %}
        {% if campo.name != "stock" and campo.name != "name" and campo.name != "image" %}
        <div class="col-md-6">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" 
                       name="{{ campo.name }}" 
                       id="{{ campo.id_for_label }}"
                       {% if campo.value %}checked{% endif %}>
    
                <label class="form-check-label" for="{{ campo.id_for_label }}">
                    {{ campo.label }}
                </label>
            </div>
        </div>
        {% endif %}
    {% endfor %} 
      <div class="modal-footer">
        
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i
            class="bi bi-arrow-left-circle"></i> Cancelar</button>
        <a class="btn btn-success btn-sm" id="btnConfirmar">Confirmar</a>
      </div>
    </form>
  </div>
<script>
$("#btnConfirmar").on("click", function(e) {
    e.preventDefault();

    // 1. Crear objeto con checkboxes
    let valoresSeleccionados = {};
    $("#reporte_form_datos input[type=checkbox]").each(function() {
        valoresSeleccionados[$(this).attr("name")] = $(this).is(":checked");
    });

    // 2. Crear formulario temporal
    let $form = $('<form>', {
        action: "/{{ company_id }}/{{ criterio }}/productos_pdf", // tu ruta
        method: "GET",
        target: "_blank" // abrir en nueva pestaña
    }).appendTo('body');

    // 4. Agregar los valores del objeto como inputs hidden
    for (let key in valoresSeleccionados) {
        $form.append(
            $('<input>', {
                type: 'hidden',
                name: key,
                value: valoresSeleccionados[key] ? 'on' : ''
            })
        );
    }

    // 5. Enviar el formulario
    $form.submit();

    // 6. Eliminar el formulario temporal
    $form.remove();
});

</script>

