<div class="container">

        <div class="row">
          <div class="col-xl-5 col-lg-6" data-aos="fade-right">
            <video src="/static/assets/img/vid3.mp4" autoplay muted alt="" style="border-radius: 20px; margin-left: 50px;"></video>
          </div>
          <div class="col-xl-7 col-lg-6 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">Crea tu tienda online</h3>
            <p data-aos="fade-up">
              Muestra tus productos, fácil y rápido de usar.
              Diseñada para emprendedores como tú, solo necesitas registrarte y listo. Ya puedes empezar subir tus productos y más.
            </p>
            <div class="icon-box" data-aos="fade-up">
              <i class="bi bi-bar-chart"></i>
              <h4>Administrable</h4>
              <p>
                Actualiza o edita la información en cualquier momento, gestiona productos, pedidos y clientes,
                no esperes más.
              </p>
            </div>
            <div class="icon-box" data-aos="fade-up">
              <i class="bx bx-receipt"></i>
              <h4>Empieza hoy mismo</h4>
              <p>
                Impulsa tu negocio con un catálogo digital que venta por ti,
                Créalo ahora es fácil, compártelo en tus redes sociales con tus clientes con un solo clic.
              </p>
            </div>
            <div class="icon-box" data-aos="fade-up">
              <i class="bi bi-clock"></i>
              <h4>Disponible 24/7</h4>
              <p>
                Tu negocio siempre abierto, tus clientes pueden ver y comprar tus productos en cualquier momento.
                El mundo del comercio cambió y las empresas que no se adapten se quedarán atrás.
              </p>
            </div>
          </div>
        </div>

      </div>