{% load extras %}
      <div class="section-title" data-aos="fade-up">
        <h2>Contáctanos</h2>
      </div>
      <div class="row no-gutters justify-content-center" data-aos="fade-up">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="email mt-4">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>{{company.user.email|default:" - - -"}}</p>
            </div>

            <div class="phone mt-4">
              <i class="bi bi-whatsapp"></i>
              <h4>Celular:</h4>
              <p>{{company.mobile|default:" - - -"}}</p>
            </div>
            
            {% if company.website %}
            <div class="phone mt-4">
              <i class="bi bi-people-fill"></i>
              <h4>Grupo de WhatsApp:</h4>
              <p><a href="{{company.website}}" target="__blank">Unirme Al grupo de WhatsApp</a></p>
            </div>
            {% endif %}
              
          </div>

        </div>

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-shop-window"></i>
              <h4>Empresa:</h4>
              <p>{{company.description|default:" - - -"}}</p>
            </div>

            <div class="phone mt-4">
              <i class="bi bi-cursor"></i>
              <h4>Ciudad:</h4>
              <p> {{company.cuidad|title}} - Bolivia</p>
            </div>
          </div>
        </div>

      </div>
      <br>
      
      {% if address %}
      <div class="row no-gutters justify-content-center" data-aos="fade-up">
        <div class="col-lg-5 col-ms-10 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Dirección:</h4>
              <p>{{address.address|urlize_mode:"ver_mas,br"}}
              </p>
              <p>
                <a href="https://www.google.com/maps?q={{address.latitud}},{{address.longitud}}" target="_blank"> Ver en Google Maps </a>

              </p>
            </div>

          </div>

        </div>

        <div class="col-lg-5 col-ms-10 d-flex align-items-stretch">
          <div class="info" id="mostrar_map" style="border:0; width: 100%; height: 270px;">

          </div>
        </div>
      </div>
      {% endif %}
        
      <br>
      <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDO2fkiN4Ys2r8D5IEQAP4S4N0nqQ6Y6KQ&callback=initMap">
      </script>
      <style>
         @media (max-width: 600px) {
            #mostrar_map {
                width: 90%;  /* El div ocupa el 90% del ancho en pantallas pequeñas */
                font-size: 16px;  /* Tamaño de fuente más pequeño */
            }
        }
      </style>
      <script>
        var map, marker;

        function initMap() {
            var ubicacionInicial = { lat: {{address.latitud}}, lng: {{address.longitud}} };  // Ubicación inicial (Empire State Building)
            map = new google.maps.Map(document.getElementById("mostrar_map"), {
                zoom: 15,
                center: ubicacionInicial
            });

            marker = new google.maps.Marker({
                position: ubicacionInicial,
                map: map,
                title: "{{address.company|upper}}",
                label: {
                  'text': '{{address.company|upper}}',
                  color: 'green'
                }
            });
        }
    </script>
<!--       <div class="row mt-3 justify-content-center container" data-aos="fade-up" style="box-shadow: 0 7px 7px rgb(0 0 0 / 18%);">
        <div class="col-lg-8 justify-content-center">
          <form class="form-row">
            <div class="row">
              <div class="col-auto">
                <strong>Quiero optener mi cupón:</strong>
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Correo electrónico" name="email" required>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-success">Enviar</button>
              </div>
            </div>
          </form>
        </div>

      </div><br> -->