<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h3>Nosotros</h3>
            <p>{{dashboard.description|default:" - - -"|capfirst}}</p>

          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Contáctanos</h3>
              <p>
                <strong>Dir.</strong> {{dashboard.address|default:" - - -"|capfirst}}<br>
                <strong>Celular:</strong> {{dashboard.mobile|default:" - - -"}}<br>
               
                <strong>Email:</strong> {{dashboard.email|default:" - - -"}} <br>
                <strong>Tutoriales del sistema</strong> en Tiktok, Youtube
              </p>
            </div>
            <div class="social-links mt-3">
              <a href="https://www.facebook.com/amceb.online/" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://api.whatsapp.com/send?text=Hola Quisiera mas información sobre el sistema AMCEB, gracias.%0A{{request.get_host}} &phone={{dashboard.mobile}}" target="_blank" class="google-plus"><i class="bx bxl-whatsapp"></i></a>
              <a href="https://www.youtube.com/channel/UCzAi4iRY0j-bRhP9zlQWDRw" target="_blank" class="youtube"><i class="bx bxl-youtube"></i></a>
              <a href="https://www.tiktok.com/@amceb?_t=ZM-8vKg5gKzw87&_r=1" target="_blank" class="tiktok"><i class="bx bxl-tiktok"></i></a>
            </div>
          </div>
          <div class="col-lg-5 col-md-6 footer-links">
            <h3>Nuestros Servicios</h3>
            <p>Somos especialistas en sistemas de:</p>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://api.whatsapp.com/send?text=Hola deseo crear mi propia tienda online para mi negocio, con un hosting y dominio propio.%0A mas información &phone={{dashboard.mobile}}" target="_blank" class="google-plus">Sistemas de Tienda Online</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://api.whatsapp.com/send?text=Hola quisiera mi propio sistema de ventas e inventario control total de ventas, compras, gastos, cuentas por pagar cuentas por cobrar reportes y mucho mas.%0A mas información &phone={{dashboard.mobile}}" target="_blank" class="google-plus">Sistema punto de venta e inventario control total</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://api.whatsapp.com/send?text=Hola quisiera mi propio sistema de ventas e inventario mas tienda online, control total de ventas, compras, gastos, cuentas por pagar cuentas por cobrar reportes y mucho mas.%0A mas información. &phone={{dashboard.mobile}}" target="_blank" class="google-plus">Sistema punto de venta e Inventario + Tienda Online</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://api.whatsapp.com/send?text=Hola quisiera un sistema personalizado de: %0A &phone={{dashboard.mobile}}" target="_blank" class="google-plus">Desarrollo de Sistemas Personalizados</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

     <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>www.amceb.online</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/ -->
        Designed by <a href="#">{{dashboard.author|default:"jjavierl.bo"}}</a>
      </div>
    </div>
  </footer>