<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo" style="display: flex;width: 300px;justify-content: space-around;">
        <h1><a href="/">{{company.name|title|truncatechars:10|default:" company " }}</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        <h1><a href="#" onclick="buscar_producto()"><i class="bi bi-search"></i></a></h1>
        <h1><a class="nav-link scrollto" href="#" onclick="verCarrito('/ver_carrito/')" data-bs-toggle="modal" data-bs-target="#exampleModal"><i style="" class="bi bi-cart-check"></i><span style="font-family: initial;font-size: smaller;" id="compras_id">
          {% if total_compra > 0 %}
          {{total_compra}}
          {% endif %}
        </span> </a></h1>
      </div>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#category">Categorias</a></li>
          <li><a class="nav-link scrollto" href="/">Productos</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
          <li><a class="nav-link scrollto" href="admin/" target="__blank">Ingresar</a></li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  <script>
    function verCarrito(urls){
      $.ajax({
          type:'GET',
          url:urls,
          success:function(resp){
              $("#optenerProducto").html(resp);
          }
      });
    }
    function buscar_producto(){
      $('.menus').slideToggle(1000);
    }
  </script>