<section id="about" class="about">
    <div class="container menus">
        <div>
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="search" name="search" id="shear_product" class="form-control" placeholder="Buscar Producto" aria-label="buscar" aria-describedby="basic-addon1">
                  </div>
                </form>
              </nav>
        </div>

    </div>
</section>
{% block scritp_js %}
<script>
  $(function(){

    $("#shear_product").on('keypress', function(){
        $.ajax({
              type:'GET',
              url:'shear_product/',
              data:$("#shear_product").serialize(),
              success:resultado,
              error:errores
          });
          function resultado(data){
            $(".card_product_shear").slideDown(1000);
            console.log(data);
            $(".card_product_shear").html(data).slideDown(5000);
          }
          function errores(){
            console.log("Error");
          }
      });

  });
  
</script>
{% endblock scritp_js %}
