<section id="faq" class="faq section-bg">
    <div class="container-fluid row" style="margin-left: 5px;">

      <div class="section-title" data-aos="fade-up">
        <h2>Preguntas frecuentes</h2>
      </div>

      <div class="faq-list col-lg-6 mb-5 mb-lg-0">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> 
            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1" >Como funciona el sistema AMCEB? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                * Con AMCEB puedes vender en múltiples lugares, eres libre de compartir en tus redes sociales y más.<br>
                * Obtiene reportes de tus productos, ventas y clientes <br>
                * El sistema está totalmente basado y alojado en la nube, lo que significa que no tienes que preocuparte por actualizar o mantener el software ni los servidores web. Esto te brinda la flexibilidad para dirigir tu negocio y acceder a él desde cualquier lugar. <br>
                * Aplicamos técnicas de SEO para que tu tienda o productos sea más visible y aparezca en los primeros resultados de búsqueda.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="50">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Como creo mi tienda online? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                * Primero cree su cuenta y luego registre los datos de su negocio o empresa. Después podrá agregar sus productos para que se muestren en el sistema.<br>
                * Usted es el propietario y tiene total libertad para administrar su información, compartirla en tus RRSS y mucho más.<br>
                * Si tiene alguna dificultad, puede contactarnos y con gusto le ayudaremos.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="50">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Que pasa con mi información? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Nos tomamos muy en serio la privacidad y seguridad de tus datos. Solo recopilamos la información necesaria para brindarte un mejor servicio y nunca la compartimos con terceros sin tu consentimiento.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="50">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Cuanto cuesta una tienda virtual? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Prueba AMCEB durante 7 días gratis.<br>
                Cuando termine el período de prueba, elige un plan que se adapte al tamaño de tu negocio.
                Ofrecemos diferentes planes según el tiempo de contratación y la cantidad de registros que maneje su empresa o negocio.<br>
                De todas maneras, su tienda online estará activa si tiene productos disponibles.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="50">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Necesito ser diseñador para utilizar el Sistema? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
              <p>
                No, no necesitas ser diseñador o desarrollador para usar el sistema. <br>
                Si necesitas ayuda, puedes comunicarte con nuestro equipo de atención al cliente via whatsApp o visitar nuestro canal de YouTube para seguir aprendiento del sistema.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="50">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">Que incluye nuestro servicio? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
              <p>
                * Te damos 30 días de gracia gratis antes o después de crear tu tienda online.
                Ejem: si contrata un plan de 3 meses más el tiempo de gracias su sitio web estaría 4 meses activo en el sistema AMCEB. <br>
                * Registro y carga de productos: nos encargamos de subir todos tus productos al sistema si lo requiere. <br>
                * Optimización SEO: aplicamos técnicas avanzadas para que tu tienda y produtos aparezca en los primeros resultados de Google. <br>
                * Marketing en redes sociales: campañas mensuales en gral. para atraer más clientes. <br>
                * Email marketing enviamos mensajes a miles de clientes que se suscriben a su página web. <br>
                * Soporte permanente: te acompañamos siempre que lo necesites.
              </p>
            </div>
          </li>
          
          <li data-aos="fade-up" data-aos-delay="50">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-7" class="collapsed">Como me llega una venta? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list">
              <p>
                * Una vez que ya tengas productos registrados en tu tienda online, puedes registrar el precio de envió y tu QR para que te paguen directamente a ti.<br>
                * tus clientes podrán visitar tu tienda online elegir uno o muchos productos, te llegará un mensaje a tu WhatsApp como una confirmación.
              </p>
            </div>
          </li>

        </ul>
      </div>
      <div class="col-lg-6" data-aos="fade-left">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <figure>
              <img src="static/assets/img/features-1.png" alt="" class="img-fluid">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>