<div class="section-title" data-aos="fade-up">
          <h2>Nuestros Servicios</h2>
          <p>Ofrecemos soluciones completas para tu negocio.
            Si no sabes exactamente cuánto vendes, qué productos se mueven más o cuánto stock tienes disponible? estás perdiendo dinero.

Toma el control total de tu negocio en tiempo real. Administra tus ventas, inventario y clientes de manera eficiente y facil con reportes del dia, mes y año,
somos especialistas en los sig. sistemas</p>
          </p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bx-store-alt"></i></div>
              <h4 class="title"><a href="">Tienda Online</a></h4>
              <p class="description" style="text-align: justify;">
                Ideal para negocios que desean vender o mostrar sus productos por internet. <br>
                ✔ Que incluye? <br>
                - Diseño personalizado <br>
                - Gestión de productos <br>
                - Pasarelas de pago seguras <br>
                - Integración con redes sociales <br>
                - Soporte técnico <br>
                - Optimización de búsqueda (SEO) <br>
                - Hosting y dominio incluido <br>
                
              </p>
              <br>
              <a href="https://api.whatsapp.com/send?text=Hola deseo crear mi propia tienda online para mi negocio de: %0A &phone={{dashboard.mobile}}" target="_blank" class="google-plus"><i class="bi bi-whatsapp"></i> Más información</a>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bx-cart"></i></div>
              <h4 class="title"><a href="">Punto de venta POS</a></h4>
              <p class="description" style="text-align: justify;">
                Control total de tu inventario en tiempo real. Ideal para: <br>
                - Tiendas de productos <br>
                - minimarket, Ferreterías <br>
                - Restaurantes, Brosterias <br>
                - Farmacias, Librerías y más<br>
                ✔ Que incluye? <br>
                - Instalación y configuración del sistema <br>
                - Capacitación para el uso del sistema <br>
                - Soporte técnico personalizado <br>
              </p><br>
              <a href="https://api.whatsapp.com/send?text=Hola quisiera mi propio sistema de ventas e inventario para mi negocio de: %0A &phone={{dashboard.mobile}}" target="_blank" class="google-plus"><i class="bi bi-whatsapp"></i> Más información</a></li>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx bx-package"></i></div>
              <h4 class="title"><a href="">Punto de Venta + Tienda Online</a></h4>
              <p class="description" style="text-align: justify;">
                Este sistema es una integracion de tienda online + punto de venta, Ideal para: <br>
                - Super Mercados <br>
                - Tiendas con varias sucursales <br>
                - Negocios con gran cantidad de registros <br>
                ✔ Que incluye? <br>
                - Tienda online + Punto de venta <br>
                - Optimización de búsqueda (SEO) <br>
                - Hosting y dominio incluido <br>
                - Soporte técnico personalizado
              </p><br>
              <a href="https://api.whatsapp.com/send?text=Hola quisiera mi propio sistema de ventas e inventario mas tienda online para mi negocio de: %0A &phone={{dashboard.mobile}}" target="_blank" class="google-plus"><i class="bi bi-whatsapp"></i> Más información</a>
            </div>
          </div>

        </div>