{% if dashboard.name %}
<h1 id="status_share">
        <a class="dropdown-item" id="compartir_url" href="#"><i class="bi bi-share-fill"></i></a>
</h1>
<h1>
        <a href="https://api.whatsapp.com/send?text=*_Visita el Sistema AMCEB_* %0A _Crea y encuentra las mejores tiendas online de toda Bolivia en_%0A{{request.build_absolute_uri}}"
                target="_blank" title="Compartir con whatsapp" style="font-size: 25px;">
                <i class="bi bi-send"></i>
        </a>
</h1>
<!-- <h1> COMENTADO PORQUE AUN NO CREE EL BUSCADOR DE COMPANIAS
<a href="#" style="font-size: 25px;" onclick="searh_companys('{{dashboard.id}}')">
        <i class="bi bi-search"></i>
</a>
</h1> -->

<script>
        function searh_companys(id_dashboard) {
                $('.menus').slideToggle(1000);
                $('.menus form #shear_text').focus();
        }

        if (navigator.share) {

                // Código si la Web Share API es soportada
                document.getElementById("compartir_url").value = "En más lugares"
                const shareData = {
                        title: "Sistema AMCEB",
                        text: "Crea tu tienda Online",
                        url: window.location.href,
                };
                let btn = document.getElementById("compartir_url");
                const resultPara = document.getElementsByClassName("alert-success");

                btn.addEventListener("click", async () => {
                        try {
                                await navigator.share(shareData);
                                resultPara.textContent = "Recurso compartido";

                        } catch (err) {
                                $("#status_share").hide()
                                document.getElementById("status_share").hidden();
                                alert("Up! parase que tu navegador no esta lista para compartir este recurso.");
                        }
                });
        } else {
                // Fallback
                $("#status_share").hide();
        }
</script>
{% endif %}