{% load crispy_forms_tags %}
<div class="modal-header  thead-light" style="background-color: #58bba9;">
    <h5 class="modal-title text-white" id="exampleModalLabel">Cambiar Contraseña</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body table-responsive">
    <form action="/{{request.user.id}}/change_password/" method="POST" id="form_change_pass">
        {% csrf_token %}
        {{form|crispy}}
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i
                    class="bi bi-arrow-left-circle"></i> Cancelar</button>
            <button type="submit" class="btn btn-success btn-sm">Confirmar</button>
        </div>
    </form>
</div>
<script type="text/javascript">
    $('#form_change_pass').submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: $(this).attr("action"),
            data: $(this).serialize(),
            success: function (resp) {
                if (resp.error) {
                    $('.toast-body').addClass('alert alert-danger');
                    $('.toast-body').fadeIn(1000).html(resp.error);
                    mostrar_notificacion();
                }
                else{
                    $('.toast-body').addClass('alert alert-success');
                    $('.toast-body').fadeIn(1000).html(resp.success);
                    $('#form_change_pass')[0].reset();

                    mostrar_notificacion();
                    setTimeout(function(){
                        window.location.href="/";
                    },3000);
                }
            }
        });
    });
</script>