{% extends 'index.html' %}

{% block company %}
  <a href="/">
    {{dashboard.name|upper|cut:" "}}
  </a>
{% endblock company %}


{% block tecnica_seo %}
  {% if category %}
  <meta name="description" content="{{ category.get_meta_description }}">
  <meta property="og:title" content="{{ category.get_meta_title }}">
  <meta property="og:description" content="{{ category.get_meta_description }}">
  <meta property="og:url" content="https://{{ request.get_host }}{{ category.get_meta_url }}">
  <link rel="canonical" href="https://{{ request.get_host }}{{ category.get_meta_url }}">
  {% else %}
  <meta name="description" content="{{ ciudad.get_meta_description }}">
  <meta property="og:title" content="{{ ciudad.get_meta_title }}">
  <meta property="og:description" content="{{ ciudad.get_meta_description }}">
  <meta property="og:url" content="https://{{ request.get_host }}{{ ciudad.get_meta_url }}">
  <link rel="canonical" href="https://{{ request.get_host }}{{ ciudad.get_meta_url }}">
  {% endif %}
{% endblock tecnica_seo %}
  

{% block carrito %}
  {% include 'sheart_companys.html' %}
{% endblock carrito %}

{% block hero %}    {% endblock hero %}


{% block menus %}
  {% if user.is_authenticated %}
  {% include 'menu_from_user.html' %}
  {% else %}
  {% include 'menu_index.html' with type_company=type_company count_comp=count_comp %}
  {% endif %}
{% endblock menus %}


{% block contenido %}
<section id="team_productos" class="team" style="margin-top: 80px;" >
  <div class="container-fluid productos_por_categorias" data-aos="fade-up">
    <div class="row">
        <div class="col-12">
            <div class="section-title">
                
              {% if user.is_authenticated %}
                <h4 class="text-success">Usuario: {{user.username}}, estos son tus catálogos</h4>
                <p>Actualiza tus Catálogos. o agrega más productos en oferta, nuevos etc.</p>
                
              {% else %}
                  <h2>Elige tu catálogo de 
                    {% if category %}
                      {{ category.name|title }}
                    {% else %}
                      {{ ciudad.ciudad|title }}
                    {% endif %}
                  </h2>
              {% endif %}
            </div>
        </div>
    </div>
    <div class="row col-12 justify-content-center" style="margin-left: 1px;">
      {% for n in companys %}
      <div class="card dark card_c single-product" data-aos="fade-up">
          <img src="{{n.get_logo}}" class="card-img-top" alt="{{n.name}}">
        <!-- {% if n.is_new %}        
          <span class="badge rounded-pill bg-primary sale-tag d-flex">
            Nuevo
          </span>
        {% endif %} -->
        <div class="card-body" style="padding: 10px;">
            <div class="text-section" onclick="detailSite('/{{n.id}}/catalogo')">
                <h5 class="card-title text-wrap text-primary fw-bolder">{{n.name|title}}</h5>
                <p class="card-text text-break text-wrap fst-italic">{{n.description|default:" - - - "|capfirst|truncatewords:10}}
                </p>
                <p class="card-text">
                  {% for c, v in count_productos.items %}
                    {% if c == n.name %}
                      
                      {% if v == 0 %}
                      <small class="text-muted text-danger fst-italic">En creación</small>
                      {% else %}
                      {{ v }}<small class="text-muted text-success fst-italic">:prods</small>
                      <small class="fst-italic text-success">Verificado:</small>
                      <i class="bi bi-star-fill" style="color: gold;"></i>
                      <i class="bi bi-star-fill" style="color: gold;"></i>
                      <i class="bi bi-star-fill" style="color: gold;"></i>   
                      {% endif %}  
                    {% endif %}
                  {% endfor %}              
                </p>
            </div>
            
            
            
              <div class="dropdown position-relative" style="width: 50px; margin-right: -20px;">
                {% if user.is_authenticated %}
                <button type="button" class="btn btn-outline-success position-absolute top-0 start-0" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                  <span class="bi bi-three-dots-vertical"></span>
                </button>
                
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#actualizar" onclick="selectOptionCompany('/{{n.id}}/updateCompany/')" 
                  data-bs-toggle="modal" data-bs-target="#exampleModal">Actualizar datos</a>
                  <a class="dropdown-item" href="#images" onclick="add_images('/{{n.id}}/add_images_company/')"
                  data-bs-toggle="modal" data-bs-target="#exampleModal">Logo & Portada</a>
                  
                  <a class="dropdown-item" href="#dominio" onclick="selectOptionCompany('/{{n.id}}/createDonimio/')" 
                  data-bs-toggle="modal" data-bs-target="#exampleModal">Dominio</a>
                  <a class="dropdown-item" href="#status" onclick="selectOptionCompany('/{{n.id}}/estado_company/')" 
                  data-bs-toggle="modal" data-bs-target="#exampleModal">Estado</a>
                  <a class="dropdown-item text-danger" href="#eliminar" onclick="selectOptionCompany('/{{n.id}}/deleteCompany')" 
                  data-bs-toggle="modal" data-bs-target="#exampleModal">Eliminar</a>
                </div><br>
                {% endif %}
                <div class="position-absolute bottom-0 start-0" ><i class="bi bi-hand-thumbs-up-fill text-muted"></i> {{n.contarLikes.like}}</div>
              </div>

        </div>
      </div>
          {% empty %}
            {% if user.is_authenticated %}
            <div class="alert alert-warning" role="alert" style="text-align: center;">Es hora de emprezar.
              <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="newTienda('/crear_tienda/{{request.user.id}}')">Crear mi Tienda Online</a>
            </div>
            {% else %}
            <div class="alert alert-warning" role="alert" style="text-align: center;">No hay resultados.
              <a href="/">Regresar al Inicio</a>
            </div>
            {% endif %}
        {% endfor %}     
    </div>
      
  </div>
</section>
<script>
  function detailSite(urls){
    window.location.href = urls;
  }
  function selectOptionCompany(urls){
    $.ajax({
            type:'get',
            url:urls,
            success:function(resp){
              $(".modal-content").html(resp);
            }
    });
  }
  function add_images(urls){
    $.ajax({
            type:'get',
            url:urls,
            success:function(resp){
              $(".modal-content").html(resp);
              mostrarPreview('logo', 'preview-logo');
              mostrarPreview('image', 'preview-portada');
            }
    });
  }
</script>
  
{% endblock contenido %}

{% block button_whatsap %} {% endblock button_whatsap %}

{% block acerca %} {% endblock acerca %}

{% block suscipcion_for_email %}
  {% if not user.is_authenticated %}
    {% include 'buscador_general.html' %}
  {% endif %}
{% endblock suscipcion_for_email %}

{% block preg_frecuentes %} 
  {% if not user.is_authenticated %}
    {% include 'preg_frecuentes_tienda.html' %}
  {% endif %}
{% endblock preg_frecuentes %}
  
{% block productos_mas_vistos %} {% endblock productos_mas_vistos %}
  
{% block google_adsense %}
  {% if not user.is_authenticated %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6758294951145066"
    crossorigin="anonymous"></script>
    <!-- dos -->
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-6758294951145066"
      data-ad-slot="2274550750"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  {% endif %}
{% endblock google_adsense %}
  
  