<div class="row">
  <div class="col-12">
    <div class="section-title">
      <h2>Explora algunos catálogos</h2>
    </div>
  </div>
</div>
<div class="row col-12 justify-content-center" style="margin-left: 1px;">
  {% for n in type_company %}
    {% for c, v in count_comp.items %}
      {% if c == n.name and v > 0 %}
      <div class="card dark card_c single-product" onclick="detailType('/{{n.id}}/type')" data-aos="fade-up">
        <i class="{{n.icono}} icon_img card-img-top" alt="..."></i>
        {% if n.is_new %}
        <span class="badge rounded-pill bg-primary sale-tag d-flex">
          Nuevo
        </span>
        {% endif %}
        <div class="card-body" style="padding: 10px;">
          <div class="text-section">
            <h5 class="card-title text-wrap text-primary fw-bolder">{{n.name|capfirst}}</h5>
            <p class="card-text text-break text-wrap fst-italic">{{n.description|default:" - - - "|capfirst|truncatewords:10}}</p>
            <p class="card-text">
              {{ v }}
              <small class="text-muted text-success fst-italic" style="margin-right: 10px;">:Tiendas disp.</small>
              <i class="bi bi-person-fill" style="color: rgb(12, 158, 85);"></i> <small class="text-success fst-italic">{{n.num_vistos}} Vistos </small>
            </p>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  {% empty %}
  <div class="alert alert-warning" role="alert" style="text-align: center;">No se encontraron resultados.
    <a href="/">Ir al Inicio</a>
  </div>
  {% endfor %}
</div>

<script>
  function detailType(urls) {
    window.location.href = urls;
  }
</script>