<ul>
    {% if user.is_authenticated %}
    
      {% if not company.id %}
      <li><a class="nav-link scrollto active" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="newTienda('/crear_tienda/{{request.user.id}}')">  Crear nueva tienda </a></li>
      {% endif %}
    {% endif %}
    
    {% if company.id %}
      <li><a class="nav-link scrollto active" href="/{{company.id}}/catalogo">Productos</a></li>
      <li class="dropdown"><a href="#"><span>Categorias</span> <i class="bi bi-chevron-down"></i></a>
        <ul>
          {% for c in categorias %}
            <li style="cursor: pointer;" class="nav-link scrollto"><a onclick="mostrar_por_categoria('/{{company.id}}/{{c.id}}/mostrar_por_categoria')" href="#team_productos">{{c.name|title}}</a></li>
          {% empty %}
            <li class="bi-x"><a href="">No hay Categorias</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
      <li><a class="nav-link scrollto" href="#bot_amceb">Suscribirme</a></li>
      <li><a class="nav-link scrollto" href="#contact">Contáctanos</a></li>
    {% if user.is_authenticated %}
    <li class="dropdown"><a href="#"><span>Mi Perfil</span> <i class="bi bi-chevron-down"></i></a>
      <ul>
        {% if user.first_name %}
          <li><a class="nav-link scrollto" href="#" >{{request.user.first_name|title}} {{request.user.last_name|title}} </a></li>
        {% endif %}
        <li><a class="nav-link scrollto" href="#team_productos" onclick="updateUser('/{{request.user.id}}/update_perfil_user/')">Actualizar mi Perfil</a></li>
        {% if company.id %}
          <li><a class="nav-link scrollto" href="/{{company.id}}/configuraciones">Administrador</a></li>
          <li><a class="nav-link scrollto" href="#team_productos" onclick="newProducto('/{{company.id}}/new_producto/')">Registrar Producto</a></li>
        {% endif %}
        <li><a class="nav-link scrollto" href="/{{request.user.id}}/companys">Mis Catálogos</a></li>
        <li><a class="nav-link scrollto" href="https://www.tiktok.com/@amceb" target="_blank">Videos de Ayuda</a></li>
        <li><a class="nav-link scrollto" href="/salir/">Cerrar Sesion</a></li>
      </ul>
    </li>
      
    {% endif %}
  </ul>

  <script>
    function newTienda(urls){
      $.ajax({
          type:'GET',
          url:urls,
          success:function(resp){
              $(".modal-content").html(resp);
              $(".navbar-mobile i").click();
          }
      });
    }

  let lightbox = null;
  function mostrar_por_categoria(urls) {
    $.ajax({
      type: 'GET',
      url: urls,
      headers: { 'X-Requested-With': 'XMLHttpRequest' },
      success: function (resp) {
        // Inyectar HTML y esperar que termine para reinicializar GLightbox
        $(".productos_por_categorias").fadeOut(200, function () {
          $(this).html(resp).fadeIn(400, function () {

            // Destruir instancia anterior si existe
            if (lightbox && typeof lightbox.destroy === 'function') {
              lightbox.destroy();
            }

            // Inicializar nuevamente el lightbox
            lightbox = GLightbox({
              selector: '.portfolio-lightbox'
            });

          });
        });

        // Cierra menú móvil si estaba abierto
        $(".navbar-mobile i").click();
      }
    });
  }
  </script>